
@{
	@model GraDino

}

<head>
	<h2>GraDino #@Model.Id</h2>
	<hr />
</head>
<body>
	<ul>
		<li><b>@Html.DisplayNameFor(c => c.NickName)</b> : @Model.NickName</li>
		<li><b>@Html.DisplayNameFor(c => c.specy)</b> : @Model.specy</li>
		<li><b>@Html.DisplayNameFor(c => c.weight)</b> : @Model.weight</li>
		<li><b>@Html.DisplayNameFor(c => c.height)</b> : @Model.height</li>
	</ul>
</body>