@model HashSet<Movie>

@{
    string viewMode = ViewBag.FormMode;

    ViewData["Title"] = viewMode switch
    {
        "Edit" => "Edit a movie",
        "Delete" => "Delete a movie",
        "Details" => "Movie Details",
        _ => "List"
    };

    var btnColorClass = viewMode switch
    {
        "Edit" => "btn-warning",
        "Delete" => "btn-danger",
        "Details" => "btn-primary",
        _ => "btn-secondary"
    };

    var btnText = viewMode switch
    {
        "Edit" => "Editer",
        "Delete" => "Confirmer",
        "Details" => "Details",
        _ => "Details"
    };
}

<div class="d-flex">
    <h1>@ViewData["Title"]</h1>
    <a asp-action="Create" class="btn btn-success ms-auto">Ajouter</a>
</div>
<hr />
<div class="container" asp-action="@viewMode">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameForInnerType((Movie m) => m.Id)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((Movie m) => m.Title)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((Movie m) => m.Director)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((Movie m) => m.Duration)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((Movie m) => m.Status)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                    <tr>
                        <td>
                        @m.Id
                        </td>
                        <td>
                        @m.Title
                        </td>
                        <td>
                        @m.Director
                        </td>
                        <td>
                        @m.Duration
                        </td>
                        <td>
                            <form asp-action="ChangeStatus" method="post">
                                <input type="hidden" name="id" value="@m.Id" />
                                <button type="submit" class="btn btn-link">@m.Status</button>
                            </form>
                        </td>
                    @if (viewMode != "Details")
                    {
                                <td>
                                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@m.Id">Details</a>
                                </td>
                    }
                    @if (viewMode == "Details")
                    {
                                <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@m.Id">Delete</a></td>
                                <td><a class="btn btn-warning" asp-action="Edit" asp-route-id="@m.Id">Edit</a></td>
                    }
                    </tr>
            }
        </tbody>
    </table>
</div>
